* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: chartreuse;
    color: black;
}
#contenedor {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: grey;
    border-radius: 20px;
    overflow: hidden;
}
header {
    height: 100px;
    background: green;

}
header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}
nav {
    background: grey;
    height: 60px;
}
nav h2 {
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}
#contenido {
    width: 400px;
    height: 300px;
    float: left;
    background: rgb(213, 112, 216);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}
#contenido h2 {
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}
aside {
    width: 400px;
    height: 300px;
    float: left;
    background: red;
    margin-top: 10px;
    margin-right: 40px;
    float: right;
}

aside h2 {
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}
footer {
    background: lemonchiffon;
    clear: both;
}
footer h2 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    
}